{% extends 'base.html' %}
{% load i18n %}

{% block h1 %}Register{% endblock %}

{% block content %}
{% if user.is_anonymous %}
<form method="post" action=".">
    <dl>
    {% for field in form %}
        <dt>{{ field.label_tag }}</dt>
        {% if field.errors %}
        <dd>{{ field.errors }}</dd>
        {% endif %}
        <dd>{{ field }}</dd>
    {% endfor %}
    </dl>

    <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% else %}
<p>{% blocktrans %}You are already logged in as {{ user }}.{% endblocktrans %} <a href="{% url auth_logout %}">{% trans 'Click here to logout.' %}</a></p>
{% endif %}
{% endblock %}
